body {
    font-family: 'Courier New', monospace;
    /* Example of a colorful gradient background */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #333;
    text-align: center;
}

#exercise-buttons button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#exercise-buttons button:hover {
    background-color: #ccc;
}
iframe {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    border: none; /* Removes the border around the iframe */
}
